@model AwqafTest.Models.ViewModels.AccountViewModel

@{
    ViewData["Title"] = "Add New Account";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountId"></label>
                <input asp-for="AccountId" class="form-control" value="@ViewData["NextId"]" />
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountName"></label>
                <input asp-for="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="Level1"></label>
                    <input asp-for="Level1" class="form-control" />

                </div>
                <div class="form-group col">
                    <label asp-for="Level2"></label>
                    <input asp-for="Level2" class="form-control" />
                    <span asp-validation-for="Level2" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Level3"></label>
                    <input asp-for="Level3" class="form-control" />
                    <span asp-validation-for="Level3" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Level4"></label>
                    <input asp-for="Level4" class="form-control" />
                    <span asp-validation-for="Level4" class="text-danger"></span>
                </div>
                <span asp-validation-for="Level1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks"></label>
                <textarea asp-for="Remarks" class="form-control"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success"><i class="fas fa-plus-circle"></i> Add</button>
                <a asp-action="Index" class="btn btn-outline-success"><i class="fas fa-arrow-alt-circle-left"></i> Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
