@{
    ViewData["Title"] = "Welcome";
}

<div>
    <h1 class="display-4 text-center">Welcome to AWQAF</h1>
    <hr/>
    <p class="text-justify">
        The Ministry of Endowments (AWQAF) and Islamic Affairs is one of the important ministries in the State of Qatar that applies Islam both as a methodology and ideology. It cares for the affairs of Muslims through different means: in the field of Da'wah (call to Allah), in running the mosques, maintaining and refurbishing them, and supervising them for the sake of the well being of the Muslims, both the citizens and residents.
    </p>
    <p class="text-justify">
        Its importance lies in reflecting the religious feature of the State through the various activities of its different departments acting in the field of Da'wah and propagating the human culture in its agreed-upon magnanimous values. In addition to the embodiment of social solidarity through the Sunni Endowment and Zakat Fund aids as well as communicating with the Muslims through the Internet. On the administrative level, the Ministry of Endowments and Islamic Affairs worked towards developing human resources and raising the efficiency of its staff with up-to-date courses in keeping up with the digital revolution.
    </p>
</div>
