@model AwqafTest.Models.ViewModels.VoucherViewModel

@{
    ViewData["Title"] = "Add New Voucher";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VoucherId"></label>
                <input asp-for="VoucherId" class="form-control" value="@ViewData["NextId"]" />
                <span asp-validation-for="VoucherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoucherDate"></label>
                <input asp-for="VoucherDate" class="form-control" />
                <span asp-validation-for="VoucherDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FiscalYearId"></label>
                <select asp-for="FiscalYearId" class="form-control" asp-items="ViewBag.FiscalYearId"></select>
                <span asp-validation-for="FiscalYearId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountId"></label>
                <input asp-for="AccountId" class="form-control" />
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LedgerNo"></label>
                <input asp-for="LedgerNo" class="form-control" />
                <span asp-validation-for="LedgerNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoucherStatusId"></label>
                <input asp-for="VoucherStatusId" class="form-control" />
                <span asp-validation-for="VoucherStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoucherTotal"></label>
                <input asp-for="VoucherTotal" class="form-control" />
                <span asp-validation-for="VoucherTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks"></label>
                <textarea asp-for="Remarks" class="form-control"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">&lt; Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
