@model AwqafTest.Models.ViewModels.AccountLedgerViewModel

@{
    ViewData["Title"] = "Add New Ledger";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="FiscalYearId"></label>
                <select asp-for="FiscalYearId" class="form-control" asp-items="ViewBag.FiscalYearId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AccountId"></label>
                <input asp-for="AccountId" class="form-control" />
                <span asp-validation-for="AccountId" class="text-danger"></span>
                @* TODO: Add lookup dialog for accounts *@
            </div>
            <div class="form-group">
                <label asp-for="LedgerNo"></label>
                <input asp-for="LedgerNo" class="form-control" />
                <span asp-validation-for="LedgerNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ledger"></label>
                <input asp-for="Ledger" class="form-control" />
                <span asp-validation-for="Ledger" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks"></label>
                <textarea asp-for="Remarks" class="form-control"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success"><i class="fas fa-plus-circle"></i> Add</button>
                <a asp-action="Index" class="btn btn-outline-success"><i class="fas fa-arrow-alt-circle-left"></i> Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
