@model AwqafTest.Models.ViewModels.AccountLedgerViewModel

@{
    ViewData["Title"] = "Add New Ledger";
}

<h1>@ViewData["Title"]</h1>

<h4>Please complete the form below: </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FiscalYearId" class="control-label"></label>
                <select asp-for="FiscalYearId" class="form-control" asp-items="ViewBag.FiscalYearId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AccountId" class="control-label"></label>
                <input asp-for="AccountId" class="form-control" />
                <span asp-validation-for="AccountId" class="text-danger"></span>
                @* TODO: Add lookup dialog for accounts *@
            </div>
            <div class="form-group">
                <label asp-for="LedgerNo" class="control-label"></label>
                <input asp-for="LedgerNo" class="form-control" />
                <span asp-validation-for="LedgerNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ledger" class="control-label"></label>
                <input asp-for="Ledger" class="form-control" />
                <span asp-validation-for="Ledger" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <textarea asp-for="Remarks" class="form-control"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">&lt; Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
